h2{
    color:darkorange;
    font-family:Cambria,'Times New Roman', serif;
}

.font1{
    color:darkblue;
    font-size: 20px;
}

.font2{
    color:chocolate;
    font-family: "Tapestry", cursive;
}