h3{
    color: royalblue;
}

img{
    width: 200px;
}

.fondo2{
    width: 200px;
    border-width: 10px;
    border-color: blueviolet;
    border-style: solid;
}

.fondo3{
    width: 200px;
    border-width: 10px;
    border-color: lightslategray;
    border-style: dotted double inset groove;
}

.fondo4{
    width: 200px;
    border-width: 10px;
    border-color: rgb(23, 16, 90);
    border-style: double;
    border-radius: 15px;
}

.fondo5{
    width: 200px;
    border-width: 10px;
    border-color: rgb(117, 219, 139);
    border-style: double;
    border-radius: 50%;
}