div{
    background-color: rgb(136, 70, 9);
}

#img1{
    margin: 40px;
}

#img2{
    margin: 10px 23px 15px 5px;
}

#img3{
    margin: 25px;
    padding: 25px;
    background-color: yellow;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}