div{
    background-color: rgb(136, 70, 9);
}

img{
    padding: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: rgb(236, 215, 146);
}

#img2{
    width: 960px;
    height: 659px;
    padding-top: 10px;
    padding-left: 23px;
    padding-bottom: 15px;
    padding-right: 5px;
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    background-color: blanchedalmond;
}